[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
selenium = "*"
requests = "*"
django-cors-headers = "*"
pyjwt = "*"
python-alipay-sdk = "*"
qiniu = "==7.2.4"
beautifulsoup4 = "*"
lxml = "*"
oss2 = "*"
xmltodict = "*"
cryptography = "*"
wechatpy = "*"
